#contact1
{
    padding:20px;
}

.panel 
{
    border: 0px;
}



.panel-heading
{
    background-color: #342222;
    padding: 18px 5px;
}


.panel-heading h3
{
                    font-size: 20px;   
                    font-family: 'Droid Serif', serif;           
                    color: #dadada;
                    text-transform: uppercase;
}


.panel-body
      {
                font-size: 16px;   
                font-family: Montserrat, 'Sans-serif';
                background-color:#918888;
                color:#cecece;
                text-align: justify;
     }



.contactInfo {
    color: #cecece;
    line-height: 30px;    
    border-bottom: 1px solid #cecece;
    padding-bottom: 4px;
}




.contactInfo:hover {
    text-decoration: none;
    color: #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.panel-body p {
    margin: 20px auto;
}

label {
    font-weight: 400;
}


.panel input, .panel textarea {
    background-color:#d3d1d1;
    border: 0px;
    color: #7a7a7a;
}

.panel input:focus,
.panel textarea:focus {
    background-color: #d3d1d1;
    color: white;
}

.panel ::-webkit-input-placeholder
{
    color: #9b9494;
    
}

.panel :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #9b9494;
}

.panel ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #9b9494;
}

.panel :-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #9b9494;
}


#btn {
    padding: 15px 30px;
    color: #342222;
    background: transparent;
    border: 1px solid #342222;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 40px;
    border-radius: 5px;
}

#btn:hover {
    color: #cdcdcd;
    background-color: #342222;
}


@media (min-width : 992px) {
    .con1
    {
        height:410px;
    }
}