
#myCarousel1 {
	background:#918888;
}


#carousel-control1 {
	color:#fff;
	top:44%;
	background:#428BCA;
	bottom:auto;
	padding-top:8px;
	width:0px;
	border-radius:0px;
	height:0px;
	opacity:1;
    	right:auto;
	left:10px;
}

#carousel-control2 {
	color:#fff;
	top:44%;
	background:#428BCA;
	bottom:auto;
	padding-top:8px;
	width:0px;
	border-radius:0px;
	height:0px;
	opacity:1;
    left:auto;
	right:10px;
    
}

#image_g
{
    height: 200px;
    width: auto;

}

