#con_id1 h3
{
    padding-top:10px;
    padding-bottom: 10px;
    font-size: 25px;   
    font-family: 'Lobster', cursive;
    margin-top: 30px;
    color:#404040;
}


#con_id1 p
{
    margin: 0 auto 60px;
    font-size: 20px;   
    font-family: 'Roboto Condensed', sans-serif;
    color:#5f5f5f;
}




.panel 
{
    border: 0px;
}



.panel-heading
{
    background-color: #342222;
    padding: 18px 5px;
}


.panel-heading h3
{
            font-size: 20px;   
            font-family: 'Droid Serif', serif;           
            color: #dadada;
            text-transform: uppercase;
}


.panel-body
      {
        font-size: 18px;   
        font-family: Montserrat, 'Sans-serif';
        background-color:#918888;
        color:#e5e5e5;
        text-align: justify;
     }





/*Media Quries*/





@media (min-width: 992px){
    #con_id1 p
    {
        width: 60%;
    }
    
    #con_id1 h3
    {
        font-size: 35px;
    }
    
    .panel-body
      {
          height: 300px;
     }
    .panel-body p {
        padding-top: 20px;    
    }
    
}