body
{
 background-color: #d8d8d8;
}

.navbar-brand {
    
    height: auto;
}

.navbar-toggle
{
    background-color: #d8d8d8; 
    border: none;
    margin-top: 60px;    
}

.icon-bar {
    color: none;
    background-color: none;
}

.logo
{
/*background-color:rgb(59, 153, 239);*/
    height:110px;
    width:108px;
    box-shadow: 0px 0px 10px #807878 ; 
    background-color:#d8d8d8;
    padding: 3px;
    border-radius: 5px;
}




header{
    box-shadow: 0px 5px 10px #939191;
}

.navbar-default {
    background: #a7a7a7;
    border: 0px;   
}

.navbar-default .navbar-nav >li>a
{
    font-family: 'Titillium Web', sans-serif;
    font-size:18px; 
    color:#404040;
    border-radius: 10px;
}





.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus
{
color:#d8d8d8;
background-color:#404040;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus
{
color:#959595;
background-color:transparent;
/*    border-radius: 0;*/
/*    border-bottom: 1px solid #7fb8fa;*/
}
 





/*Footer CSS*/

.site-footer
{
    background-color:#151515;
    color:#cccccc;
    font-family: 'Big Caslon', serif;
    margin-top:30px0px;
    padding-top:30px;
    font-size: 15px;
}

.site-footer h3 {
    font-family: 'Droid Serif', serif;           
    color: #dadada;
    text-transform: uppercase;
    padding-left:20px;

}

.site-footer address
{
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color:#5f5f5f;
    line-height: 30px;
    padding-left: 30px;
}

.site-footer ul li

{
    list-style: none;
    text-decoration:none;
     margin-top:10px;
}
.site-footer ul li a
{
        font-size: 20px;
        font-family: 'Roboto Condensed', sans-serif;
        color:#5f5f5f;
        text-decoration:none;
}

.site-footer 
{
        color:#6a9dce;
}




#designer {
    font-family: 'Vidaloka', serif;
    color: #959595;
    margin: 30px 0 15px;
    font-size: 15px;
    text-align: center;
}

#designer a {
    color: #6188ae;
}




/*Social Icons*/

#social_icon ul {
    overflow: auto;
/*    margin: 30px 0;*/
}
 
#social_icon ul li {
 list-style-type: none;
 float: left;
}
 
#social_icon ul li a i {
/* background: #205D7A;*/
 color: #fff;
 width: 50px;
 height: 50px;
 border-radius: 20px;
 font-size: 30px;
 text-align: center;
 margin-right: 10px;
 padding-top: 15%;
 opacity: 0.7;
}
 
/*To add the social media default colors you just add some extra CSS rules*/
 
.fa-facebook {
 background: #3b5998;
}

.fa-linkedin {
 background: #007bb6;
}

.fa-twitter {
 background: #00aced;
}

.fa-google-plus {
 background: #dd4b39;
}
/*To add in a hover state transition, a bit more CSS*/

#social_icon ul li a i {
 transition: all 0.2s ease-in-out;
}
#social_icon  ul li a i:hover {
 opacity: 1;
}
 



@media (min-width: 768px){
    
    .navbar{
        min-height: 100px; 
    }
    
    .navbar-header {
        min-height: 100px;
    }
    
    .navbar-nav {
        margin-top: 30px;
    }

    .navbar .nav li    {
        padding:30px 20px;
    }

    #social_icon {
        padding: 120px 40px 0px 80px;
    } 

    #designer {
        font-size: 20px;
    }

}
 
 







